#about-container {
  height: 500px;
  min-width: 1000px;
  width: auto;
  background-color: #1B263B;
  display: flex;
}

#about-contact-container {
  width: 40%;
  position: relative;
  margin-right: 20px;
  margin-top: 50px;
}

#about-contact-container #about-contact {
  position: absolute;
  right: 10%;
  top: 10%;
  color: whitesmoke;
}

#email-me {
  margin-top: 20px;
  font-size: 18px;
}

#about-contact #email-me a {
  text-decoration: none;
  color: #b0c4de;
  transition-duration: 1s;
}

#about-contact #email-me a:hover {
  color: #00bfff;
}

#profile-picture img {
  border-radius: 10%;
  margin: 0;
  border: 6px solid #E0E1DD;
}

#about-me {
  text-align: left;
  font-size: 16px;
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 100px;
}

#about-me h2 {
  color: whitesmoke;
}

#about-me p {
  color:	#C0C0C0;
  font-size: 16px;
  width: 80%;
}

/* Button Animation */
#about-me .personality-btn {
  height: 50px;
  width: 250px;
  text-align: center;
  padding: 20px;
  padding-top: 15px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  color: #E0E1DD;
  background-color: 	#32CD32;
  margin: 5px;
}

#about-me .personality-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 16px;
}

#about-me .personality-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#about-me .personality-btn:hover span {
  padding-right: 25px;
}

#about-me .personality-btn:hover span:after {
  opacity: 1;
  right: 0;
}
/* ----------------------- */

@media screen and (max-width: 1600px) {
  #about-me {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  #about-container {
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }

  #about-contact-container {
    height: 40%;
    width: 30%;
    margin: 30px auto 30px;
  }

  #about-contact-container #about-contact {
    right: auto;
    top: auto;
  }

  #about-me {
    height: 40%;
    width: 80%;
    padding: 0;
    margin: 30px auto;
  }

  #about-me h2 { 
    margin: 0 auto 14px auto;
    width: 80%;
  }

  #about-me p {
    margin: 0 auto 16px auto;
  }

  #about-me #personality-btn-container {
    width: 80%;
    margin: 5px auto 5px auto;
  }
} 