#contact-container {
  height: 400px;
  width: 100vw;
  background-color: 	#0D1B2A;
}

#contact-container h2 {
  color: #E0E1DD;
  padding-top: 140px;
}

#contact-me #email-link {
  text-decoration: none;
  color: #b0c4de;
  transition-duration: 1s;
}

#contact-me #email-link:hover {
  color: #00bfff;
}

#contact-container #site-credits {
  color: whitesmoke;
  font-size: 16px;
}