#project-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 80%;
  width: 1280px;
}

.project-item-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 90%;
  width: 100%;
}

.project-item-prev {
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  height: 486px;
  width: 864px;
  top: 60px;
  left: 0;
  cursor: pointer;
}

.project-item-next {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  height: 486px;
  width: 864px;
  top: 60px;
  right: 0;
  cursor: pointer;
}

.project-item-next img, .project-item-prev img {
  border-radius: 20px;
}

.project-item {
  border-radius: 20px;
  background-color: gainsboro;
  z-index: 2;
  position: absolute;
  left: 160px;
  top: 40px;
  height: 540px;
  width: 960px;
}

.project-item img {
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 540px;
  width: 960px;
}

.project-data-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22%;
}

.project-data-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project-data-display p {
  padding: 0 200px;
  font-size: 18px;
}

@media screen and (max-width: 1300px) {
  #project-slider-container {
    width: 1280px;
    margin: 60px 12%;
  }

  .project-item-container {
    display: flex;
    flex-direction: column;
  }

  .project-item {
    border-radius: 20px;
    background-color: gainsboro;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 40px;
    height: 540px;
    width: 960px;
  }

  .project-item-prev {
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    height: 486px;
    width: 864px;
    top: -40px;
    left: 48px;
    cursor: pointer;
  }
  
  .project-item-next {
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    height: 486px;
    width: 864px;
    top: 180px;
    left: 48px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  #project-slider-container {
    width: 1200px;
    margin: 60px 10%;
  }
}